<h1>Long Live Paper</h1>

 

<!-- 
<div ng-controller="Ctrl">
  <form ng-submit="addImg()">
    <input ng-model="picture" type="file" id="take-picture" capture="camera" accept="image/*" value="Take picture">
  </form> -->

<!--   <input type="file" capture="camera" accept="image/*" id="takePictureField">
  </br>
  <img id="yourimage" style="width:60%"> -->

<!--  <img ng-if="image" src="{{image}}" alt="">
  <form action="">
    <input my-upload type="file" name="upload" capture="camera" accept="image/*">  
  </form> -->
<!--   <input type="file" file-model="myFile" capture="camera" accept="image/*">
  <button ng-click="uploadFile()">upload me</button> -->

<div>
  <%= form_for @article, :html => {:multipart => true} do |f| %>
    <p>
      <label>Attach image</label>  
      <input id="article_image" name="article[image]" type="file" capture="camera" accept="image/*" >
    </p>
    <p><%= f.submit %></p>
  <% end %>

</div>

<!-- <form name="takePicture" ng-controller="Ctrl"> -->

